@{
    ViewBag.Title = "Error - Systems Status - SUNY Cortland";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section breadcrumb
{
<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", new { controller = "Home" })">Home</a>
    </li>
    <li class="active">
        Error
    </li>
</ol>
}

<div class="row contentContainer">
    <div class="col-md-12 contentHeader">
        <h4>
            <span class="glyphicon glyphicon-stats"></span> SUNY Cortland System Status
        </h4>
    </div>
    <div class="col-md-12 content">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12">
                <h2><span class="glyphicon glyphicon-warning-sign"></span> Error</h2>
                <div class="alert alert-block alert-danger">
                    <p>
                        You have encountered an unknown error. 
                        <br /><br />
                        If this problem persists, please contact the systems administrator.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>